.brazotelecotainer {
    font-family: 'Lato', sans-serif;
    text-align: start;
}

.brazotelecotainer img {
    width: 100%;
    height: 100%;
}

.brazotelecotainer h1 {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
    color: #ec1b34;
}
.brazotelecotainer p {
    font-size: 16px;
    margin: 20px;

}

.brazotelecotainer li {
    font-size: 12px;
    margin-left: 30px;

}


/* ********************************************************** */

@media (min-width: 768px) {


    .subimage img {
        width: 40%;
        height: 40%;
        margin-left: 30%;
    }


    .brazotelecotainer h1 {
        margin-top: 15px;
        margin-left: 100px;
        font-size: 30px;
        color: #ec1b34;
    }

    .brazotelecotainer p {
        font-size: 22px;
        margin: 100px;
        margin-top: 5px;

    }

    .brazotelecotainer li {
        font-size: 18px;
        margin-left: 30%;
        /* margin-bottom: 30px; */


    }
}