.section_gas video {
    margin-left: 5px;
    width: 350px;
    height: 300px;

    /* margin-left: -3px;
    width: 98%;
    height: 98%; */
}

.trogenocontaniner2 h1 {
    font-size: 20px;
    margin-left: 10px;
    color: #ec1b34;

}

.trogenocontaniner2 h2 {
    margin-left: 10px;
    font-size: 16px;
    color: #ec1b34;

}

.trogenocontaniner2 img {
    margin-top: 30px;
    width: 90%;
    height: 80%;
    margin-left: 5%;
}

.altenadorgas img {
    margin-left: 25%;
    width: 50%;
    height: 50%;
}

.trogenocontaniner2 p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: start;
    margin: 10px;
    padding: 1px;
}

.lu li {
    margin-top: 3px;
    font-size: 12px;
    margin-left: 10px;
}

@media (max-width: 768px) {
    /* .section_gas video {
        margin-left: -3px;
        width: 98%;
        height: 98%;
    } */
    /* .tvideo {
        margin-left: 5px;
        width: 350px;
        height: 300px;
    } */

    /* .video {
        margin-top: 30px;
        margin-left: 20%;
        width: 900px;
        height: 500px;
    } */


}

/********tablet *********************************************************Tablet********************************************* */
@media (min-width: 769px) and (max-width: 900px) {
    .trogenocontaniner2 {
        /* text-align: center; */
        margin: 200px;
    }

    .section_gas video {
        margin-top: 30px;
        /* margin-left: 2%; */
        width: 98%;
        height: 500px;
    }


    .trogenocontaniner2 h1 {
        margin-left: 10px;
        font-size: 30px;
        color: #ec1b34;
        margin-top: -180px;
    }

    .trogenocontaniner2 h2 {
        font-size: 26px;
        color: #ec1b34;
        margin-left: 10px;
    }

    .trogenocontaniner2 p {
        font-size: 22px;
        margin-bottom: 60px;

    }

    .trogenocontaniner2 img {
        width: 110%
        /* margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 30%; */

    }

    .altenadorgas img {
        width: 60%;
        height: 30%;
        margin-left: 30%;
    }

    .lu li {
        margin-top: 30px;
        font-size: 18px;
        margin-left: 200px;
    }




}

/* **************************pantalla grande**************************************** */

@media (min-width: 901px) {
    .trogenocontaniner2 {
        /* text-align: center; */
        margin: 200px;
    }

    .section_gas video {
        margin-top: 30px;
        margin-left: 20%;
        width: 900px;
        height: 500px;
    }


    .trogenocontaniner2 h1 {
        margin-left: 10px;
        font-size: 30px;
        color: #ec1b34;
        margin-top: -180px;
    }

    .trogenocontaniner2 h2 {
        font-size: 26px;
        color: #ec1b34;
        margin-left: 10px;
    }

    .trogenocontaniner2 p {
        font-size: 22px;
        margin-bottom: 60px;

    }

    .trogenocontaniner2 img {
        width: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 30%;

    }

    .altenadorgas img {
        width: 30%;
        height: 30%;
        margin-left: 30%;
    }

    .lu li {
        margin-top: 30px;
        font-size: 18px;
        margin-left: 200px;
    }




}