.contenedor-somos {}

.contenedor-somos img {
  width: 100%;
  height: 100%;
}

.contenedor-somos h2 {
  font-size: 16px;  margin-top: 20px;
  margin-left: 95px;
  color: #ec1b34;

}

.contenedor-somos p {
  margin-left: 10px;
  font-size: 15px;
  
}

/* ************************************************************** */

.contenedor-somos .subcontainer {
  display: flex;
  margin: 10px;
  padding: 10px;
  user-select: none;
}

.subcontainer img {
  flex: 1;
  width: 66px;
  margin-top: 12px;
}

.subcontainer p {
  margin-left: 10px;
  font-size: 15px;
}

/********************************* Estilos para pantallas grandes */
@media (min-width: 768px) {
  .contenedor-somos .div {
    width: auto;
    overflow: hidden;
  }

  .contenedor-somos .history {
    margin-top: 3%;
    width: 40%;
    margin-left: 30%;
    padding: 20px 2%;
    background-color: rgba(0, 0, 0, 0.079);
  }

  .contenedor-somos .subcontainer {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
    margin-left: 35%;
  }

  .subcontainer {
    width: calc(200% - 20px);
    max-width: 500px;
  }

  .subcontainer img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }


  .contenedor-somos  h2 {
    margin-top: 50px;
    margin-left:36%;
    font-size: 26px;
    color: #ec1b34;
}

  .subcontainer p {
    font-size: 22px;
    /* line-height: 1.6; */
    color: #333;
}

  .contenedor-somos .foto {
    z-index: 2;
    width: 300px;
    height: 300px;
  }
}
