.tablerocontent {}

.subtablerocontent p {
    padding: 10px;
}

.subtablerocontent img {
    width: 99%;
    height: 99%;
    margin-bottom: 10px;
}

.subtablerocontent {
    font-family: 'Lato', sans-serif;
    text-align: start;
}


.subtablerocontent h1 {

    font-size: 20px;
    color: #ec1b34;

}

.subtablerocontent h2 {
    font-size: 16px;
    margin-left: 10px;
    color: #ec1b34;
}


.subtablerocontent img {
    height: 100%;
    width: 100%;
}

.subtablerocontent p{
    font-size: 16px;
}


/* ********************************************************** */

@media (min-width: 768px) {

    .subtablerocontent img {
        width: 40%;
        height: 40%;
        margin-left: 30%;
    }


    .subtablerocontent h1 {
        margin-top: 20px;
        margin-left: 105px;
        font-size: 28px;
        color: #ec1b34;
    }



    .subtablerocontent p {
        font-size: 22px;
        margin: 100px;
        margin-bottom: 12px;
        margin-top: 2px;

    }

    .fototable {
        width: 30%;
        height: 30%;
        display: flex;
        flex-direction: row;
        margin-left: 5%
    }

    .subtablerocontent h2 {
        margin-top: 20px;
        margin-left: 108px;
        font-size: 26px;
        color: #ec1b34;
    }


    .fototable img {
        display: flex;
        width: 100%;
    }

}