.tablerocontent {}

.tablerocontent p {
    padding: 15px;

}

.tablerocontent img {
    width: 99%;
    height: 99%;
    margin-bottom: 10px;
}

.tablerocontent {
    font-family: 'Lato', sans-serif;
    text-align: start;
}


.tablerocontent h2 {
    margin: 10px;
    font-size: 26px;

}

.tablerocontent li {
    margin-left: 30px;

}

.tablerocontent img {
    height: 100%;
    width: 100%;
}