.tijedieselconten {}

.tijedieselconten {
    font-family: 'Lato', sans-serif;
    text-align: start;
    /* margin: 20px; */
}

.tijedieselconten img {
    width: 100%;
    height: 100%;
}

.videotijera video {
    margin-top: 5%;
    margin-left: 5%;
    width: 350px;
    height: 300px;

}

.subtijedieselconten {
    margin: 20px;
}

.subtijedieselconten h1 {
    font-size: 20px;
    color: #ec1b34;
}

.subtijedieselconten p {
    font-size: 16px;


}

.subtijedieselconten li {
    margin-left: 30px;
    font-size: 12px;

}

.subtijedieselconten img {
    height: 100%;
    width: 100%;
}

/*tablet *********************************************************Tablet********************************************* */
@media (min-width: 769px) and (max-width: 900px) {
    .tijedieselconten img {
        width: 100%;
        height: 100%;
    }

    .videotijera video {
        margin-top: 30px;
        margin-left: 10%;
        width: 80%;
        /* height: 500px; */
        margin-bottom: 40px;

    }

    .subtijedieselconten p {
        font-size: 22px;
        margin: 100px;
        margin-top: 10px;

    }

    .subtijedieselconten h1 {
        font-size: 26px;
        margin-top: -30px;
        margin-left: 100px;
        color: #ec1b34;


    }

    .subtijedieselconten img {
        /* margin-top: 50px; */
        height: 40%;
        width: 40%;
        margin-left: 30%;
    }

}

/* ****************************************************************** */
@media (min-width: 901px) {

    .tijedieselconten img {
        width: 100%;
        height: 100%;
    }

    .videotijera video {
        margin-top: 30px;
        margin-left: 20%;
        width: 900px;
        height: 500px;
        margin-bottom: 40px;

    }

    .subtijedieselconten p {
        font-size: 22px;
        margin: 100px;
        margin-top: 10px;

    }

    .subtijedieselconten h1 {
        font-size: 30px;
        margin-top: -30px;
        margin-left: 100px;
        color: #ec1b34;


    }

    .subtijedieselconten img {
        /* margin-top: 50px; */
        height: 40%;
        width: 40%;
        margin-left: 30%;
    }

}