.contenedorled video {
    margin-left: 20px;
    width: 350px;
    height: 300px;
}

.ledcontainer h1 {
    margin-left: 10px;
    font-size: 20px;
    color: #ec1b34;
}

.contenedorled p {
    font-size: 16px;
    text-align: start;
    margin-left: 10px;
}

.contenedorled h2 {
    color: #ec1b34;
    margin-left: 10px;
}


.contenedorled img {
    width: 100%;
    height: 100%;
}
/*tablet *********************************************************Tablet********************************************* */
@media (min-width: 769px) and (max-width: 900px) {

    .contenedorled video {
        margin-left: 5px;
        width: 98%;
        height: 300px;
    }
    
    .ledcontainer h1 {
        margin-left: 10px;
        font-size: 20px;
        color: #ec1b34;
    }
    
    .contenedorled p {
        font-size: 16px;
        text-align: start;
        margin-left: 10px;
    }
    
    .contenedorled h2 {
        color: #ec1b34;
        margin-left: 10px;
    }
    
    
    .contenedorled img {
        margin-left: 100px;
        width: 70%;
        height: 80%;
    }
     
}

/* *************************************************************** */

@media (min-width: 901px) {

    .contenedorled {
        /* background-color: aqua; */
    }

    .contenedorled img {
        /* width: 1580px; */
    }

    .contenedorled video {
        margin-top: 30px;
        margin-left: 20%;
        width: 900px;
        height: 500px;
        margin-bottom: 40px;
    }

    .ledcontainer h1 {
        margin: 100px;
        margin-top: -20px;
        font-size: 30px;
        /* color: #ec1b34; */
        margin-bottom: 10px;
    }



    .ledcontainer h2 {
        text-align: center;
        margin: 20px;
        font-size: 36px;
        color: #ec1b34;
        margin-bottom: 10px;
    }

    .ledcontainer p {
        /* text-align: center; */
        font-size: 22px;
        margin: 100px;
        margin-top: -2px;

    }

    .ledcontainer .tablaled {
        width: 70%;
        margin-bottom: 20px;
        /* padding-top: -340px; */
        padding-left: 15%;
        /* background-color: aqua; */


    }

    .ledcontainer .torreled {
        width: 45%;
        margin-bottom: 20px;
        padding-left: 35%;
        /* background-color: aqua; */

    }
}