.card1 .card-image{
  width: 900px; /* Ancho fijo para la imagen rectangular */
  height: 400px; /* Altura fija para la imagen rectangular */
  object-fit:unset; 
  border: 1px solid #cccccc8d;
  box-shadow: 0 4px 8px black;
  transition: transform 0.3s;
  user-select: none;
}

.card {
  width: 300px;
  text-align: center;
  margin: 10px;
  border: 1px solid #cccccc8d;
  box-shadow: 0 4px 8px black;
  transition: transform 0.3s;
  user-select: none;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 20px;
  margin: 10px;
}

.card-button {
  background-color: #ec1b34;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-direction: column; /* Cartas debajo de card1 */
  align-items: center; /* Centra verticalmente las tarjetas */

  gap: 70px; /* Espaciado entre cartas */
}

@media (max-width: 768px) {
  .card1 {
    width: 300px;
  }
  .card {
    margin: 1px;
  }
}

@media (min-width: 768px) {
  .card1 {
    margin: 80px;
    width: 600px;
  }
  .card {
    margin: 80px;
    width: 400px;
  }
}
