.card1 .card-image{
  width: 900px; /* Ancho fijo para la imagen rectangular */
  height: 400px; /* Altura fija para la imagen rectangular */
  object-fit:unset; 
  border: 1px solid #cccccc8d;
  box-shadow: 0 4px 8px black;
  transition: transform 0.3s;
  user-select: none;
}

.card {
  width: 300px;
  text-align: center;
  margin: 5px;
  border: 1px solid #cccccc8d;
  box-shadow: 0 4px 8px black;
  transition: transform 0.3s;
  user-select: none;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 20px;
  margin: 10px;
}

.card-button {
  background-color: #ec1b34;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 70px; */
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    margin: 10px 0;
  }

  .card {
    order: -1; /* Pone la card1 al principio en móviles */
    width: 100%;
    margin: 10px 0;
  }
}

@media (min-width: 768px) {
  .card-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-color: rgba(0, 0, 0, 0.488);
  }

  .card {
    order: 0; /* Reestablece el orden para las tarjetas en pantallas más grandes */
    width: 600px;
    margin: 20px;
  }

  .card {
    width: 400px;
    margin: 20px;
  }
}
