.contenedor-footer {
    background-color: rgba(0, 0, 0, 0.831);
    color: white;
    margin-top: 5px;
}

.contenedor-footer h5 {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 18px;
}

.contenedor-footer .linea-divisora {
    display: flex;
    justify-content: center;
    height: 2px;
    width: 275px;
    background-color: #ec1b34;
}

.datos-footer p {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 16px;
}

.link-footer {
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: red;
}


.pie-footer {
    display: flex;
    justify-content: center;
    background-color: #ec1b34;
    color: white;
    font-size: 12px;
    padding: 10px;
}
