.navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.navbar,
.img {
    height: 100%;
    margin-right: 10px;
    padding-left: 1px;
    padding: 10px;

}

/* .logo img {

} */
.img {
    padding-left: 200px;
}

.navbar a {
    float: right;
    font-size: 26px;
    color: black;;
    text-align: center;
    padding: 14px 16px;
    padding-left: 10px;
    text-decoration: none;
}

.menu {
    padding-right: 150px;
}


.navbar a:hover {
    /* background-color: red; */
    color: red;

}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }

    .menu1 {
        display: inline;
    }

    .logo1 {
        display: inline;
    }
}

@media (min-width: 768px) {
    .logo1 {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    .sidenav1 {
        display: none;
    }
    .menu-button{
        display: none;
    }

}

/********************************************** Estilos para el menú desplegable */

.dropdown {
    float: right;
    overflow: hidden;

}

.dropdown .dropbtn {
    font-size: 26px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;


}



.dropdown:hover .dropbtn {
    /* background-color: red; */
    color: red;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;


}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/************************ Estilos para submenus */

.sub-menu {
    position: relative;

}

.sub-menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    top: 0;
    left: 100%;

}

.sub-menu:hover .sub-menu-content {
    display: block;

}

/********************************************** Estilos para el menú desplegable */

.imgmovil,
.menu1 {
    display: flex;
    justify-items: center;
}

.imgmovil .logo1 {
    height: 40px;
    padding-left: 90px;
    padding-top: 15px;
}

/* .menu-button {
    width: 100%;
    padding-left: 5%;
    padding-top: 15px;
    cursor: pointer;
    font-size: 50px;


} */

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 40px;
    padding-left:35%;
    padding-top: 15px;


}

.menu1 .menu-icon {
    font-size: 40px;
}

