.contenedornew-1 {
  background-color: #f6f4f4;
  padding: 40px;
}


.contenedornew-1 img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 3px solid #cccccc8d;
  box-shadow: 0 4px 8px black;
  background-color: #ec1b34;
  padding: 10px;
}

.galeria {
  max-width: 98%;
  margin: auto;
}

.contenedornew-2 {
  font-family: 'Lato', sans-serif;
  color: white;
  /* margin-bottom: 30px; */
  /* margin-top: 30px; */
}

.contenedornew-2 .obj-icon {
  max-width: 100%;
  font-size: 50px;
  margin: 17px;
}

.objcardnew {
  margin: 20px 0;
  background-color: #ec1b34;
  display: flex;
  border-radius: 30px;
  border: 3px solid #cccccc8d;
  box-shadow: 0 4px 8px black;
}

.objcardnew h1 {
  padding: 30px;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {

  .contentnew{
    background-color: #f6f4f4;
    /* padding: 40px; */
  
  }


  .contenedornew-1 img {
    width: 70%;
    border-radius: 50%;
  }

  .galeria {
    max-width: 99%;
    margin: auto;
  }

  .objcardnew {
    width: 90%;
    border-radius: 15px;
    margin-left: 8px;
  }

  .objcardnew h1 {
    padding: 10px;
  }
}

/* *******************************Estilos para pantallas grandes */
@media screen and (min-width: 750px) {
  .contenedor_cardnew {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .contenedornew-1{
    /* background-image: url('https://leosystem.travel/wp-content/uploads/2019/12/1296817300.jpg'); */
    /* background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.LnFWaKb_HZ_iKk1xMxzIZQHaE8%26pid%3DApi&f=1&ipt=50cfca85d3fce86adf96be5c1e02bb1e945bab26288834418546f6c171bb25e1&ipo=images'); */
    /* background-image: url('C:\Users\fmaur\Desktop\Sumar3\sumar\sumar1\src\images\iniciosumar.png'); */
    background-image: url('../../images/inicio14542.png');
    /* background-image: url('https://scontent.fcor11-1.fna.fbcdn.net/v/t1.6435-9/72550093_1211704225696815_7545791045494112256_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=7f8c78&_nc_ohc=LcW69sFFk0AAX89bJ8M&_nc_ht=scontent.fcor11-1.fna&oh=00_AfCbjoF6T8nikNZVJDE-wFdbxByq9DEfVl42K0Sic92W1w&oe=657E6170'); */
    /* background-image: url('https://scontent.fcor11-1.fna.fbcdn.net/v/t1.6435-9/69867811_1175453242655247_1540708389456183296_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=7f8c78&_nc_ohc=O-aQwmnsFrcAX_CJtr4&_nc_ht=scontent.fcor11-1.fna&oh=00_AfAfUPR8uLptnK2kaCbX7K-rARuBsupYI_8oXp2jcVHIHg&oe=657E7823'); */

    background-size: cover;
    /* Ajusta el tamaño de la imagen de fondo */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-position: center;
    /* Centra la imagen de fondo */
    background-attachment: fixed;
    /* Fija la imagen de fondo en su posición */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

  }
  .contenedornew-1 img {
    width: 30%;
  }

  .galeria {
    max-width: 70%;
    margin-left: 250px;
  }

  .objcardnew {
    width: calc(27% - 0px);
    /* flex: 1;
    display: flex;
    justify-content: center; */
  }

  .obj-icon{
    padding-top: 10px;
    padding-right: 10px;
    font-size: 40px;
  }

  .objcardnew h1 {
    padding: 25px;
  }
}