.contenedornew-1 img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 3px solid #cccccc8d;
  box-shadow: 0 4px 8px black;
}

.galeria {
  max-width: 100%;
  margin: auto;
}

.contenedornew-2 {
  font-family: 'Lato', sans-serif;
  color: white;
  margin-bottom: 30px;
  margin-top: 30px;
}

.contenedornew-2 .obj-icon {
  max-width: 100%;
  font-size: 50px;
  margin: 17px;
}

.objcardnew {
  margin: 20px 0;
  background-color: #ec1b34;
  display: flex;
  border-radius: 30px;
  border: 3px solid #cccccc8d;
  box-shadow: 0 4px 8px black;
}

.objcardnew h1 {
  padding: 30px;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .contenedornew-1 img {
    width: 70%;
    border-radius: 50%;
  }

  .objcardnew {
    width: 100%;
    border-radius: 15px;
  }

  .objcardnew h1 {
    padding: 15px;
  }
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 1200px) {
  .contenedor_cardnew {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .contenedornew-1 img {
    width: 30%;
  }

  .galeria {
    max-width: 70%;
    margin-left: 250px;
  }

  .objcardnew {
    width: calc(30% - 20px);
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .obj-icon{
    padding-top: 10px;
    padding-right: 10px;
    font-size: 40px;
  }

  .objcardnew h1 {
    padding: 25px;
  }
}
