.contenedornew-1 {
  background-color: #f6f4f4;
  padding: 4px;
}


.contenedornew-1 img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 35px;
  /* border: 3px solid #cccccc8d; */
  /* box-shadow: 0 2px 0px rgba(0, 0, 0, 0.527); */
  /* background-color: #ec1b34; */
  /* background-color: white; */
  padding: 10px;
}

.galeria {
  max-width: 98%;
  margin: auto;
}


.contenedornew-2 {
  font-family: 'Lato', sans-serif;
  color: white;
}

.objcardnew h2 {
  padding: 20px;
}


.contenedornew-2 .obj-icon {
  max-width: 80%;
  font-size: 50px;
  margin: 17px;
  margin-top: 11px;
}

.objcardnew {
  /* margin: 5%; */
  text-decoration: none;
  color: inherit;

  background-color: #ec1b34;

  display: flex;
  border-radius: 30px;
  border: 3px solid #cccccc8d;
  box-shadow: 0 4px 8px black;
}


/*************************************************Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .contenedornew-1 {
    background-image: url("https://scontent.fcor11-2.fna.fbcdn.net/v/t1.18169-9/30711937_845675858966322_1863372273810616069_n.png?_nc_cat=103&ccb=1-7&_nc_sid=7a1959&_nc_ohc=fwIqpImbA4gAX9BP6a2&_nc_ht=scontent.fcor11-2.fna&oh=00_AfCvjuStnGJM-SJOyFofQ54NY9V9-ZO43dDTcDl3tS7TnA&oe=658B4398");
    background-size: cover;
    /* Ajusta el tamaño de la imagen de fondo */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-position: center;
    /* Centra la imagen de fondo */
    /* background-attachment: fixed; */
    /* Fija la imagen de fondo en su posición */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 90%; */
    /* padding: 40px; */
  }

  .contentnew {
    background-color: #f6f4f4;
    /* padding: 40px; */

  }

  .contenedornew-1 img {
    width: 80%;
    border-radius: 50%;
  }

  .tvideo {
    display: none;
  }

  .galeria {
    max-width: 99%;
    margin: auto;
  }

  .objcardnew {
    width: 90%;
    border-radius: 15px;
    margin-left: 8px;
    margin: 15px;
  }

  .objcardnew h2 {
    padding: 20px;
  }

  .obj-icon {
    padding-top: 5px;
    padding-right: 1px;
    font-size: 40px;
  }

}

/*tablet *********************************************************Tablet********************************************* */
@media (min-width: 769px) and (max-width: 900px) {
  .contenedor_cardnew {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .contenedornew-1 {
    /* width: 30%; */
    position: relative;
    /* Agrega posición relativa al contenedor */
    overflow: hidden;
  }

  .contenedornew-1 video {
    margin-left: 150px;
    /* width: 50%; */
    height: 50%;

  }

  .tvideo {
    margin-top: 10%;
    /* width: 100%; */
    /* height: 100%; */
    margin: 10px;
  margin-left: -100px;
  }


  .contenedornew-1 video {
    margin-left: 150px;
    width: 80%;
    height: 50%;

  }

  .contenedornew-1 img {
    display: block;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .galeria {
    max-width: 70%;
    margin-left: 130px;
  }

  .objcardnew {
    /* width: calc(7% - 0px); */
    flex: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .obj-icon {
    padding-top: 10px;
    padding-right: 10px;
    font-size: 40px;
  }

  .objcardnew h1 {
    padding: 25px;
  }
}

/* **********************************************Estilos para pantallas grandes */
@media screen and (min-width: 901px) {
  .contenedor_cardnew {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    
  }

  .contenedornew-1 {

  }


  .contenedornew-1 {
    /* width: 30%; */
    position: relative;
    /* Agrega posición relativa al contenedor */
    overflow: hidden;
  }

  .tvideo {

    /* margin-top: 10%; */
    /* width: 100%;
    height: 100%; */
    /* margin: 10px; */
  }

  .contenedornew-1 video {
    margin-left: 21%;
    width: 60%;
    height: 50%;

  }

  .contenedornew-1 img {
    display: block;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .galeria {
    max-width: 70%;
    margin-left: 250px;
  }

  .objcardnew {
    /* width: calc(7% - 0px); */
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    
  }
  
  .obj-icon {
    /* background-color: aqua; */
    padding-top: 8px;
    padding-right: 10px;
    font-size: 40px;
  }

  .objcardnew h2 {
    padding-top: 20px;
padding-left: 0px;
padding-right: 100px;
  }
}