/* Estilos para el contenedor principal */
.image-text-container {
    display: flex;
    padding: 13px;
    flex-flow: column;
    background-color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Estilos para la mitad de la imagen */
.image-half .img {
}

.half-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.image-half img s {
}

/* Estilos para la mitad del texto */
.text-half {
    padding: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    user-select: none;
    font-size: 16px;
}


.text-half h2 {
    font-size: 32px;
    /* Estilos para el título */
    padding-top: 20px;
}

.text-half p {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 16px;
    padding: 14px;
}
.text-half h2{
    font-family: 'Lato', sans-serif;
    color: white;
}

.linea{
    padding-left: 15px;
    padding-top: 15px;
    
}

@media (min-width: 768px) {
    .image-text-container {
      flex-flow: row; /* Cambia a un diseño en fila */
    height: 150%;
    width: 150%;
    }

    .text-half p {
        font-size: 18px;
        padding: 30px;
    }
}  