.grand-content {
    background-color: #f6f4f4;
    margin-bottom: 50px;
}

.content {
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s;
    background-color: white;
    user-select: none;
}

.content:hover {
    background-color: #ec1b34;
}

.servis {
    padding-top: 20px;
    padding-left: 30px;
    font-family: 'Lato', sans-serif;

}

.linea-divisora {
    width: 8px;
    height: 2px;
    background-color: #ec1b34;
    margin: 16px 0;
    padding-right: 83px;
    margin-bottom: 20px;
}

.logo {
    width: 40px;
    margin-left: 10px;
    color: #ec1b34;
    font-size: 27px;
    padding-top: 3px;
}

.content:hover .logo {
    color: white;
}


.titulo {

    flex: 1;
    /* El título ocupa todo el espacio disponible en la tarjeta */
    padding-right: 50px;
    font-family: 'Lato', sans-serif;
}

.content:hover .titulo {
    color: white;
}

p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.882);
    margin: 5px 0;
    font-family: 'Lato', sans-serif;

}